@charset "utf-8"
/*css document*/
/*	font-family: 'Puritan', sans-serif;
font-family: 'Open Sans', sans-serif;	*/

body {
	margin: 0px;
}

#global {
	height: fit-content;
	margin: 0 auto;
}

header {
	position: sticky;
}

nav {
	background-color: #773cbb;
	border-bottom: 3px solid #a3a2b2;
	height: 75px;
	position: sticky;
}

ul {
	list-style-type: none;
	margin: 0px 15px 0px 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

li {
	float: left;
	color: gold;
	margin: 25px 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	width: fit-content;
}

.left-li {
	display: none;
}

.right-li {
	display: none;
}

#sidenut {
	float: left;
	margin: 20px 0px 0px 15px;
	width: 40px;
}

#sidenut img {
	margin: 0px;
	width: 100%;
}

#li-logo {
	float: left;
	margin: 0px;
	margin-left: 10vw;
	position: relative;
	top: 10px;
	padding: 5px;
	display: block;
}

#li-logo img {
	display: block;
	margin: 0px 3px 0px 0px;
	width: 45px;
	float: left;
	background-color: gold;
	border-radius: 10px;
}

#li-logo a {
	margin: 0px;
	float: left;
	color: gold;
	text-decoration: none;
	font-size: 30px;
}